SPRING_PROFILES_ACTIVE=local

SERVER_PORT=

DB_URL=
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

EUREKA_CLIENT_ENABLED=
EUREKA_DEFAULT_ZONE=

FEIGN_RESERVATION_SERVICE_URL=

INTERNAL_AUTH_SECRET=
JWT_SECRET=

KAFKA_BOOTSTRAP_SERVERS=